{% extends 'mainapp/base.html' %}

{% block content %}
<h2>Местоположение: </h2>
<p>Город Курган расположен почти в центре огромного материка Евразии, к востоку от Уральского хребта, на юго-западе
    Западно-Сибирской равнины, в бассейне среднего течения реки Тобол (бассейн Оби), на большом удалении от морей и
    океанов, в 1973 км к востоку от Москвы. Высота над уровнем моря — около 75 м. Город Курган имеет ряд преимуществ от
    своего географического положения: рядом — Казахстан, Урал, богатый топливно-энергетический Север.</p>
<h2>Климат: </h2>
<p>По общим характеристикам климат в городе Кургане относится к умеренному континентальному (переходный от
    умеренно-континентального к резко континентальному), характеризуется особенностями, свойственными зоне лесостепи
    всей Западно-Сибирской низменности (холодная малоснежная зима и тёплое сухое лето). Уральские горы, препятствуя
    прохождению влажных воздушных масс, усиливают континентальность климата.</p>
<h2>История: </h2
<p>Город Курган основан как крестьянская слобода на реке Тобол, рядом с Царёвым Курганом. Основателем слободы был
    русский крестьянин Тимофей Невежин. Статус города Курган приобрел по указу Екатерины II в 1782 году.
    До конца XIX века развивался медленно, являясь одним из ссыльных мест. В разные годы здесь отбывали ссылку
    тринадцать декабристов, среди них: Вильгельм Кюхельбекер, Андрей Розен, Михаил Нарышкин.
    С пуском в 1894 году через Курган Транссибирской магистрали, связавшей Курган с центром России, город приобрел
    важное экономическое значение. Появились промышленные предприятия местных предпринимателей и иностранных монополий.
    Особенно Курган славился своим маслом, которое поставлялось в торговые центры России и за рубеж. Благодаря
    Курганским маслоделам, Россия в начале ХХ века вышла на второе место по экспорту масла.
    Курган продолжал бурно развиваться в годы Великой Отечественной войны, тогда он принял 15 промышленных предприятий,
    эвакуированных из западных областей и около 20 тыс. населения
    С 1943 года город Курган – областной центр Зауралья, где проживает треть населения Курганской области. В пятидесятые
    годы XX века в городе развернулось строительство ряда крупных предприятий. Заложены и введены в строй заводы
    Химического машиностроения, Арматурный, Автобусный и Курганская ТЭЦ. Уже в 1953 году объем строительных работ в
    городе вырос в 11 раз по сравнению с 1940 годом.
    В связи с 200-летием получения статуса города и за успехи в развитии народного хозяйства в 1982 году Курган
    награжден орденом Трудового Красного Знамени.</p>
{% endblock %}